@media (min-width:800px) {
    #toggle-label {
        display: none
    }
    #toggle {
        display: none;
    }
    header .wrapper {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }
    header nav {
        flex-direction: row;
        gap: 20px;
    }
    main .section-two img {
        height: 600px;
        width: 900px;
        padding: var(--section-top);
        margin: 50px auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .section-two .logo {
        display: flex;
        gap: 5px;
    }
    main .section-two .logo img {
        height: 100px;
        width: 150px;
    }
    
    .section-four .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 200px;
        padding: 80px;
    }
}